{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
 <div id="content">
 {% block content %}{% endblock %}
 </div>
 <div id="sidebar">
 <h2>Виды стульев</h2>

 <p>Мы решили собрать и структурировать всю важную информацию о классификации стульев в этой статье. Так вы будете уверены, что сделали в итоге лучший выбор из возможных.</p>
 <p><img src="{% static "img/Без названия.jfif" %}" width="390" alt="альтернативный текст" /></p>
 </div>
</body>
</html>
